@import "tailwindcss";

@theme {
  --color-Border: #eeebd8;
  --color-Brown: #543416;
  --color-LightBrown: #865E5E;
  --color-LighterBrown: #AEA092;
  --color-SuperLighterBrown: #E7D7C8;
  --color-Bg: #fffdef;
  --color-Red: #e95d5d;
  --color-Green: #4b7716;
  --color-White: #ffffff;
  --color-LogoBody: #6FA68C;
  --color-LogoLeg: #216155;
  --color-LogoWing: #74CCA2;
  --color-Logo: #3a3a30;

  --color-StaticWhite: #fffdef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-Border: #3a3a30;
    --color-Brown: #F5EFB9;
    --color-LightBrown: #9F9C7D;
    --color-LighterBrown: #716E59;
    --color-SuperLighterBrown: #525040;
    --color-Bg: #434238;
    --color-Red: #9F9C7D;
    --color-Green: #52870f;
    --color-White: #28281F;
    --color-LogoBody: #6FA68C;
    --color-LogoLeg: #216155;
    --color-LogoWing: #74CCA2;
    --color-Logo: #F5EFB9;

    --color-StaticWhite: #fffdef;
  }
}